name: "Build and release for genmon"

on:
  push:
    branches:
      - main
    paths:
      - "Apps/genmon/**"

jobs:
  create:
    name: "Creates the newest release by version"
    runs-on: "ubuntu-latest"

    steps:
      - name: Checkout project
        uses: actions/checkout@v2.7.0

      # New step to read the VERSION file and set the version as an output
      - name: Get the version
        id: get_version
        run: echo "genmon_version=$(cat Apps/genmon/VERSION)" >> $GITHUB_ENV

      - name: Set up QEMU
        uses: docker/setup-qemu-action@master
        with:
          platforms: all

      - name: Set up Docker Build
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          context: ./Apps/genmon
          file: ./Apps/genmon/Dockerfile
          tags: |
            bigbeartechworld/big-bear-genmon:latest
            bigbeartechworld/big-bear-genmon:${{ env.genmon_version }}
